html{
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  /* background-color: rgb(47, 47, 47); */
  padding-top: 106px !important;
  background-image: url("/img/patron.png");
  background-repeat: repeat;
  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='46.19' height='40' viewBox='0 0 34.64101615137755 30' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 255, 255, 1)'/%3E%3Cpath d='M-20-20h200v200h-200M33.77 25.5L25.98 21L18.19 25.5L18.19 34.5L25.98 39L33.77 34.5zM16.45 25.5L8.66 21L0.87 25.5L0.87 34.5L8.66 39L16.45 34.5zM7.79 10.5L0 6L-7.79 10.5L-7.79 19.5L0 24L7.79 19.5zM16.45-4.5L8.66-9L0.87-4.5L0.87 4.5L8.66 9L16.45 4.5zM33.77-4.5L25.98-9L18.19-4.5L18.19 4.5L25.98 9L33.77 4.5zM42.43 10.5L34.64 6L26.85 10.5L26.85 19.5L34.64 24L42.43 19.5zM25.11 10.5L17.32 6L9.53 10.5L9.53 19.5L17.32 24L25.11 19.5z' fill='rgba(47, 47, 47,1)'/%3E%3Cpath d='M-20-20h200v200h-200M24.21 25.25L15.98 20.5L7.75 25.25L7.75 34.75L15.98 39.5L24.21 34.75zM6.89 25.25L-1.34 20.5L-9.57 25.25L-9.57 34.75L-1.34 39.5L6.89 34.75zM-1.77 10.25L-10 5.5L-18.23 10.25L-18.23 19.75L-10 24.5L-1.77 19.75zM6.89-4.75L-1.34-9.5L-9.57-4.75L-9.57 4.75L-1.34 9.5L6.89 4.75zM24.21-4.75L15.98-9.5L7.75-4.75L7.75 4.75L15.98 9.5L24.21 4.75zM32.87 10.25L24.64 5.5L16.41 10.25L16.41 19.75L24.64 24.5L32.87 19.75zM41.53 25.25L33.3 20.5L25.07 25.25L25.07 34.75L33.3 39.5L41.53 34.75zM15.55 40.25L7.32 35.5L-0.91 40.25L-0.91 49.75L7.32 54.5L15.55 49.75zM-10.43 25.25L-18.66 20.5L-26.89 25.25L-26.89 34.75L-18.66 39.5L-10.43 34.75zM-10.43-4.75L-18.66-9.5L-26.89-4.75L-26.89 4.75L-18.66 9.5L-10.43 4.75zM15.55-19.75L7.32-24.5L-0.91-19.75L-0.91-10.25L7.32-5.5L15.55-10.25zM41.53-4.75L33.3-9.5L25.07-4.75L25.07 4.75L33.3 9.5L41.53 4.75zM32.87 40.25L24.64 35.5L16.41 40.25L16.41 49.75L24.64 54.5L32.87 49.75zM-1.77 40.25L-10 35.5L-18.23 40.25L-18.23 49.75L-10 54.5L-1.77 49.75zM-19.09 10.25L-27.32 5.5L-35.55 10.25L-35.55 19.75L-27.32 24.5L-19.09 19.75zM-1.77-19.75L-10-24.5L-18.23-19.75L-18.23-10.25L-10-5.5L-1.77-10.25zM32.87-19.75L24.64-24.5L16.41-19.75L16.41-10.25L24.64-5.5L32.87-10.25zM50.19 10.25L41.96 5.5L33.73 10.25L33.73 19.75L41.96 24.5L50.19 19.75zM15.55 10.25L7.32 5.5L-0.91 10.25L-0.91 19.75L7.32 24.5L15.55 19.75z' fill='rgba(220, 53, 69,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ") */
  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='32.33' height='28' viewBox='0 0 34.64101615137755 30' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(47, 47, 47,1)'/%3E%3Cpath d='M-20-20h200v200h-200M30.74 27.25L25.98 24.5L21.22 27.25L21.22 32.75L25.98 35.5L30.74 32.75zM13.42 27.25L8.66 24.5L3.9 27.25L3.9 32.75L8.66 35.5L13.42 32.75zM4.76 12.25L0 9.5L-4.76 12.25L-4.76 17.75L0 20.5L4.76 17.75zM13.42-2.75L8.66-5.5L3.9-2.75L3.9 2.75L8.66 5.5L13.42 2.75zM30.74-2.75L25.98-5.5L21.22-2.75L21.22 2.75L25.98 5.5L30.74 2.75zM39.4 12.25L34.64 9.5L29.88 12.25L29.88 17.75L34.64 20.5L39.4 17.75zM22.08 12.25L17.32 9.5L12.56 12.25L12.56 17.75L17.32 20.5L22.08 17.75z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-20-20h200v200h-200M31.34 25.75L23.98 21.5L16.62 25.75L16.62 34.25L23.98 38.5L31.34 34.25zM14.02 25.75L6.66 21.5L-0.7 25.75L-0.7 34.25L6.66 38.5L14.02 34.25zM5.36 10.75L-2 6.5L-9.36 10.75L-9.36 19.25L-2 23.5L5.36 19.25zM14.02-4.25L6.66-8.5L-0.7-4.25L-0.7 4.25L6.66 8.5L14.02 4.25zM31.34-4.25L23.98-8.5L16.62-4.25L16.62 4.25L23.98 8.5L31.34 4.25zM40 10.75L32.64 6.5L25.28 10.75L25.28 19.25L32.64 23.5L40 19.25zM48.66 25.75L41.3 21.5L33.94 25.75L33.94 34.25L41.3 38.5L48.66 34.25zM22.68 40.75L15.32 36.5L7.96 40.75L7.96 49.25L15.32 53.5L22.68 49.25zM-3.3 25.75L-10.66 21.5L-18.02 25.75L-18.02 34.25L-10.66 38.5L-3.3 34.25zM-3.3-4.25L-10.66-8.5L-18.02-4.25L-18.02 4.25L-10.66 8.5L-3.3 4.25zM22.68-19.25L15.32-23.5L7.96-19.25L7.96-10.75L15.32-6.5L22.68-10.75zM48.66-4.25L41.3-8.5L33.94-4.25L33.94 4.25L41.3 8.5L48.66 4.25zM40 40.75L32.64 36.5L25.28 40.75L25.28 49.25L32.64 53.5L40 49.25zM5.36 40.75L-2 36.5L-9.36 40.75L-9.36 49.25L-2 53.5L5.36 49.25zM-11.96 10.75L-19.32 6.5L-26.68 10.75L-26.68 19.25L-19.32 23.5L-11.96 19.25zM5.36-19.25L-2-23.5L-9.36-19.25L-9.36-10.75L-2-6.5L5.36-10.75zM40-19.25L32.64-23.5L25.28-19.25L25.28-10.75L32.64-6.5L40-10.75zM57.32 10.75L49.96 6.5L42.6 10.75L42.6 19.25L49.96 23.5L57.32 19.25zM22.68 10.75L15.32 6.5L7.96 10.75L7.96 19.25L15.32 23.5L22.68 19.25z' fill='rgba(82, 10, 0,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
}
.bordeR{
  border-left: 1px thin red;
}
main{
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 100%;
}
footer{
  bottom: 0px;
  width: 100%;
  margin-top: 3em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: rgb(254, 71, 85);
}
button a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}
/* Formulario */

form {
  border: 1px solid rgb(254, 71, 85);
  background: rgba(47, 47, 47, .7);
  padding: 40px 50px 45px;
}
.form-control:focus {
  border-color: #000;
  box-shadow: none;
}
label {
  font-weight: 600;
}
.error {
  color: red;
  font-weight: 400;
  display: block;
  padding: 6px 0;
  font-size: 14px;
}
.form-control.error {
  border-color: red;
  padding: .375rem .75rem;
}
/* Barra Superior Header.blade.php */
nav{
  /* border-bottom: 1px dotted red !important; */
  /* box-shadow: rgba(255, 0, 0, 0.45) 0px 10px 10px 5px; */
  /* color: white; */
  font-size: 130%;
}
.nav-item a:hover{
  border-bottom: solid 2px rgb(255,30,0);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(214,214,214);
}

.navbar-brand:hover{
  border-bottom: none;
}
.activo{
  border-bottom: solid 2px rgb(255,30,0);
}
.sociales{
  font-size: 120%;
  margin-left: 10px;
}
.sociales:hover{
  color:rgb(254, 71, 85);
}
/* Fin Barra Superior */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #dc3545 #212529;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #212529;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dc3545;
    border-radius: 10px;
    border: 2px solid #000000;
  }


/* Colores */
.rojo{
  color: rgb(255,30,0);
}
.rojoOscuro{
  color: rgb(82,10,0);
}
.rojoBrillante{
  color:rgb(254,71,85);
}
.grisOscuro{
  color:rgb(47,47,47);
}
.grisMedio{
  color: rgb(82,82,82);
}
.grisClaro{
  color: rgb(214,214,214);
}
.morado{
  color: rgb(130,52,245);
}
.negro{
  color: black;
}
.blanco{
  color: white;
}
.bg-rojo{
  background: rgb(255,30,0);
}
.bg-rojoOscuro{
  background: rgb(82,10,0);
}
.bg-rojoBrillante{
  background:rgb(254,71,85);
}
.bg-grisOscuro{
  background:rgb(47,47,47);
}
.bg-grisMedio{
  background: rgb(82,82,82);
}
.bg-grisClaro{
  background: rgb(214,214,214);
}
.bg-morado{
  background: rgb(130,52,245);
}
.bg-negro{
  background: black;
}
.bg-blanco{
  background: white;
}
.bg-oscuro{
  background: rgb(47,47,47);
}
.bordeRojo{
  border: thin solid rgb(254,71,85);
}

/* Fin Colores */

/* Textos */

.peq{
  font-size: 90%;
}
.titular{
  font-family: 'Brannboll Connect PERSONAL USE', sans-serif;
  color: white;
  font-size: 2em;
}
.titulo{
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}
.justificado{
  text-align: justify;
}

/* Fin textos */

/* Sección ADIF */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #dc3545;
  border: thin black solid;
}
.nav-pills .nav-link {
  border: thin solid #dc3545;
}
.nav-pills .nav-link:hover {
  background-color: #dc3545;
  color:#fff;
  border: thin black solid;
}


.formLogin{
    width: 300px;
}
.inline{
  display: inline-flex;
}
.dcha{
  margin-left: 4em;
}
/* Empieza la locura */



/* switch */
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  vertical-align: top;
  background-color: #dc3545;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input:focus {
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}
/* Fin del switch */

/* font awesome */
.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 10px;
  font-size: 150%;
}

/*fin fontawesome */
.barra2{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background: rgb(47,47,47);
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0px;
}

.sidebar a {
  display: block;
  color: rgb(252, 252, 252);
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #080808;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Códigos QR Inicio */

.centrado{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.top_10{
  padding-top: 10px;
}
.mas_documentos{
  position: fixed;
  bottom: 60px;
  left: 20px;
  z-index: 10;
}
.mas_documentos:hover{
  color: white !important;
}


.offcanvas-start {
  top: 106px;
  left: 0;
  width: 280px;
  border-right: 1px solid rgba(0,0,0,.2);
  transform: translateX(-100%);
}
input[type='checkbox'] {
  accent-color: rgb(255,30,0);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.accordion-item {
  background-color: rgb(47,47,47);
  border: 1pxsolidrgba(0,0,0,.125);
}

.encabezadoAcordeon{
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}

/* .encabezadoAcordeon:hover{
  background: rgb(254, 71, 85);
  color: black;
} */
.fondo{
  background-image: url("/img/fondo2.jpg");
}
.fondo2{
  background-image: url("/img/fondoCirc.jpg");
}
.fondo3{
  background-image: url("/img/fondoInfra.jpg");
}
.fondo4{
  background-image: url("/img/fondoOficina.jpg");
}

.accordion-button:not(.collapsed) {
  color: rgb(254, 71, 85) !important;
  background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgba(0,0,0,0.4);
  border: 0;
  border-radius: 0;
}
.accordion-button:focus {
  border-color: rgb(254, 71, 85);
  color: rgb(254, 71, 85);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(254 71 85 / 25%);
}
.accordion-button:focus span{
  color: rgb(254, 71, 85);
}
.barraLateral a{
  color:  white;
}
.barraLateral a:hover{
  color:  rgb(254, 71, 85);
}
.subTitulo{
  font-size: 150%;
  color:  white;
}
.subTitulo:hover{
  color: rgb(254, 71, 85);
}
.btn{
  font-size: .8rem;
}
.card-footer {
  padding: 0.5rem 0.5rem;
}

/* Códigos QR Fin */

/* Apartado Igualdad */

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #dc3545;
  background-color: #2f2f2f;
  border-color: #dc3545;
  border-bottom: none;
}
.nav-tabs .nav-link.active:hover{
  border-bottom: none;
}
.nav-tabs .nav-link.active:first-child{
  border-left: none;
}
.nav-link {
  color: #dc3545;
}
.nav-tabs .nav-link:hover {
  border: 1px solid #dc3545;
  background-color: #2f2f2f;
  color: #fff;
  /* border-bottom: none; */
}
.nav-tabs {
  border-bottom: 1px solid #dc3545;
}
.tab-content{
  background-color: rgba(47,47,47,.8);
}
.card-footer-horiz {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.centrado{
  text-align: center;
}
.collapsible {
  background-color: #7A1715;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover{
  background-color: rgb(254, 71, 85);
}
.collapsible:hover {
  color: white;
}
.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.activo:after {
  content: "\2212";
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Tablas Responsive */
.resp-table {
  width: 100%;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
}
.resp-table-caption{
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.table-header-cell{
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}
.resp-table-header{
  display: table-header-group;
  background-color: rgb(82,10,0);
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 1px solid black;
}
.resp-table-footer a{
  color:  white;
}
.resp-table-footer a:hover{
  color:  cornsilk;
}
.resp-table-body{
  display: table-row-group;
}
.resp-table-row{
  display: table-row;
  border: 1px solid black;
}
.table-body-cell{
  display: table-cell;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33.3%;
  vertical-align: middle;
  border-bottom: 1px solid white;
}
.resp-table-footer {
  display: table-footer-group;
  background-color: rgb(82,10,0);
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 1px solid black;
}
.table-footer-cell{
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}
/* Fin Tablas Responsive */