html{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: rgb(25, 25, 25);
}
nav{
    /* border-bottom: 1px dotted red !important; */
    /* box-shadow: rgba(255, 0, 0, 0.45) 0px 10px 10px 5px; */
    color: red;
}
a{
  text-decoration: none;
}
a:hover{
  color: red !important;
}
.red{
  color: rgb(200, 0, 0);
}
.blanco{
  color: white;
}
.peq{
  font-size: 90%;
}
.titular{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 2em;
}
button a{
    text-decoration: none;
}
.formLogin{
    width: 300px;
}
.inline{
  display: inline;
  margin-left: 10px;
}
.dcha{
  margin-left: 4em;
}