html{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: rgb(47, 47, 47);
}
button a{
  text-decoration: none;
}

/* Barra Superior Header.blade.php */
nav{
  /* border-bottom: 1px dotted red !important; */
  /* box-shadow: rgba(255, 0, 0, 0.45) 0px 10px 10px 5px; */
  /* color: white; */
  font-size: 130%;
}
.nav-item a:hover{
  border-bottom: solid 2px rgb(255,30,0);
}
a{
  text-decoration: none;
}
a:hover{
  color: rgb(255,30,0)!important;
}
.navbar-brand:hover{
  border-bottom: none;
}
.activo{
  border-bottom: solid 2px rgb(255,30,0);
}
.sociales{
  font-size: 120%;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.55);
}
.sociales:hover{
  color:rgb(254, 71, 85);
}

/* Fin Barra Superior */

/* Colores */
.red{
  color: rgb(255,30,0);
}
.blanco{
  color: white;
}
.peq{
  font-size: 90%;
}
.titular{
  font-family: 'Brannboll Connect PERSONAL USE', sans-serif;
  color: white;
  font-size: 2em;
}

h1{
  color: white;
}
.formLogin{
    width: 300px;
}
.inline{
  display: inline;
  margin-left: 10px;
}
.dcha{
  margin-left: 4em;
}
/* Empieza la locura */

body {
  margin: 0;
  margin-top: 100px !important;
  font-family: "Lato", sans-serif;
}

/* switch */
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  vertical-align: top;
  background-color: #dc3545;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input:focus {
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}
/* Fin del switch */

/* font awesome */
.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 10px;
  font-size: 150%;
}

/*fin fontawesome */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0px;
}

.sidebar a {
  display: block;
  color: rgb(252, 252, 252);
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #080808;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Códigos QR Inicio */

.centrado{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bg-oscuro{
  background-color: rgb(47,47,47);
}
.rojo{
  /*color: rgb(147,5,5);*/
  color: rgb(254, 71, 85);
}
.blanco{
  color: white;
}
.top_10{
  padding-top: 10px;
}
.mas_documentos{
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  float: left;
}
.mas_documentos:hover{
  color: white !important;
}
a{
  text-decoration: none;
  color: rgb(254, 71, 85);
}
a:hover{
  text-decoration: none;
  color: rgb(254, 71, 85);
}
ul{
  list-style-type: none;
}

.offcanvas-start {
  top: 106px;
  left: 0;
  width: 280px;
  border-right: 1px solid rgba(0,0,0,.2);
  transform: translateX(-100%);
}
input[type='checkbox'] {
  accent-color: rgb(255,30,0);

}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.accordion-item {
  background-color: rgb(47,47,47);
  border: 1pxsolidrgba(0,0,0,.125);
}
.btn:hover{
  color: white;
}
.encabezadoAcordeon{
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}
.titulo{
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}
.encabezadoAcordeon:hover{
  color: rgb(254, 71, 85);
}
.fondo{
  background-image: url("/img/fondo2.jpg");
}
.accordion-button:not(.collapsed) {
  color: rgb(254, 71, 85) !important;
  background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgba(0,0,0,0.4);
  border: 0;
  border-radius: 0;
}
.accordion-button:focus {
  border-color: rgb(254, 71, 85);
  color: rgb(254, 71, 85);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(254 71 85 / 25%);
}
.accordion-button:focus span{
  color: rgb(254, 71, 85);
}
.barraLateral a{
  color:  white;
}
.barraLateral a:hover{
  color:  rgb(254, 71, 85);
}
.subTitulo{
  font-size: 150%;
  color:  white;
}
.subTitulo:hover{
  color: rgb(254, 71, 85);
}
.btn{
  font-size: .8rem;
}
.card-footer {
  padding: 0.5rem 0.5rem;
}

/* Códigos QR Fin */

/* Apartado Igualdad */

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #dc3545;
  background-color: #2f2f2f;
  border-color: #dc3545;
  border-bottom: none;
}
.nav-tabs .nav-link.active:hover{
  border-bottom: none;
}
.nav-tabs .nav-link.active:first-child{
  border-left: none;
}
.nav-link {
  color: #dc3545;
}
.nav-tabs .nav-link:hover {
  border: 1px solid #dc3545;
  background-color: #2f2f2f;
  color: #fff;
  /* border-bottom: none; */
}
.nav-tabs {
  border-bottom: 1px solid #dc3545;
}
.tab-content{
  background-color: #2f2f2f;
}
