/*
1.- HTML
2.- Barra Navegación Superior
3.- Colores y Fondos
4.- Sección Inicio
5.- Sección ADIF
6.- Sección RENFE
7.- Sección Empresas Auxiliares
8.- Sección Jurídica
9.- Sección Biblioteca

/* 1.- HTML */
html{
    height: 100%;
}

body{
    font-family: 'Playfair Display', serif;
    height: 100%;
    /* padding-top: 106px !important; */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 18%, 1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(354, 70%, 54%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
main{
    margin-top: 5em;
    padding-bottom: 2em;
}
a{
  text-decoration: none;
}
a:hover{
  color: #dc3545;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #dc3545 #212529;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #212529;
}
*::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 10px;
  border: 2px solid #000000;
}
/*** Fin del Scroll ***/

/* Fin HTML */

/* 2.- Barra Navegación Superior */
.titular{
    font-family: 'Brannboll Connect PERSONAL USE', sans-serif;
    color: white;
    font-size: 2em;
}