/*
1.- HTML
2.- Barra Navegación Superior
2.5 - Barra Lateral Intranet
3.- Fondos
4.- Colores
5.- Sección Inicio
6.- Sección ADIF
7.- Sección RENFE
8.- Sección Empresas Auxiliares
9.- Sección Jurídica
10.- Sección Biblioteca
11.- Formularios
*/

/* 1.- HTML */
html{
  height: 100%;
}
body{
  font-family: 'Playfair Display', serif;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 18%, 1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(354, 70%, 54%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
main{
  padding-bottom: 2em;
}
a{
  text-decoration: none;
}
/* a:hover{
  color: #dc3545;
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #dc3545 #212529;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #212529;
}
*::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 10px;
  border: 2px solid #000000;
}
/*** Fin del Scroll ***/

/* Fin 1.- HTML */

/* 2.- Barra Navegación Superior */
.logo-texto{
  font-family: 'Brannboll Connect PERSONAL USE', sans-serif;
  color: white;
  font-size: 2em;
}
.titular{
  font-family: 'Oswald', sans-serif;
}
.sociales .lni{
  margin-left: 4px;
}
/* Fin 2.- Barra Navegación Superior */

/* 2.5 - Barra Lateral */
aside .lni{
  font-size: 150%;
}

/* 3.- Fondos */
.fondo {
  background-repeat: no-repeat;
  min-height: 600px;
}
/* Fondos Documentación Iguales en ADIF y RENFE */
.documentacion { background-image: url('/img/fondos/documentacion.png'); }
.afiliacion { background-image: url('/img/fondos/doc/afiliacion.png'); }
.ayudas { background-image: url('/img/fondos/doc/ayudas.png'); }
.conciliacion { background-image: url('/img/fondos/doc/conciliacion.png'); }
.igualdad { background-image: url('/img/fondos/doc/igualdad.png'); }
.legislacion { background-image: url('/img/fondos/doc/legislacion.png'); }
.licencias { background-image: url('/img/fondos/doc/licencias.png'); }
.mapa { background-image: url('/img/fondos/doc/mapa.png'); }
.modelos { background-image: url('/img/fondos/doc/modelos.png'); }
.protocolos { background-image: url('/img/fondos/doc/protocolos.png'); }
.salud { background-image: url('/img/fondos/doc/salud.png'); }
.tablas { background-image: url('/img/fondos/doc/tablas.png'); }
.teletrabajo { background-image: url('/img/fondos/doc/teletrabajo.png'); }

/* Fondos ADIF */
.infraestructura { background-image: url('/img/fondos/adif/infraestructura.png'); }
.circulacion { background-image: url('/img/fondos/adif/circulacion.png'); }
.oficinas { background-image: url('/img/fondos/adif/oficinas.png'); }
.estaciones { background-image: url('/img/fondos/adif/estaciones.png'); }

/* Fondos RENFE */
.comercial { background-image: url('/img/fondos/renfe/comercial.png'); }
.intervencion { background-image: url('/img/fondos/renfe/intervencion.png'); }
.conduccion { background-image: url('/img/fondos/renfe/conduccion.png'); }
.talleres { background-image: url('/img/fondos/renfe/talleres.png'); }
.tecnicos { background-image: url('/img/fondos/renfe/tecnicos.png'); }

/* Fondos Biblioteca */
.comunicados { background-image: url('/img/fondos/biblioteca/comunicados.png'); }
.seguridad { background-image: url('/img/fondos/biblioteca/seguridad.png'); }
.archivo { background-image: url('/img/fondos/biblioteca/archivo.png'); }
.defensa { background-image: url('/img/fondos/biblioteca/defensa.png'); }
.colegio { background-image: url('/img/fondos/biblioteca/colegio.png'); }
.via { background-image: url('/img/fondos/biblioteca/via.png'); }

/* Fondos Jurídica */
.convenios { background-image: url('/img/fondos/juridica/convenios.png'); }
.laboral { background-image: url('/img/fondos/juridica/laboral.png'); }
.ferroviaria { background-image: url('/img/fondos/juridica/ferroviaria.png'); }
.modelos { background-image: url('/img/fondos/juridica/modelos.png'); }
.logros { background-image: url('/img/fondos/juridica/logros.png'); }

/* Fondos recursos */
.videos { background-image: url('/img/fondos/recursos/videos.png'); }
.audios { background-image: url('/img/fondos/recursos/audios.png'); }
.carteles { background-image: url('/img/fondos/recursos/carteleria.png'); }
.fotografias { background-image: url('/img/fondos/recursos/fotos.png'); }
.logotipos { background-image: url('/img/fondos/recursos/logos.png'); }

/* Fin 3.- Fondos */

/* 4.- Colores */

.rojo { color: rgb(255, 30, 0); }
.rojoOscuro { color: rgb(82, 10, 0); }
.rojoBrillante { color: rgb(254, 71, 85); }
.grisOscuro { color: rgb(47, 47, 47); }
.grisMedio { color: rgb(82, 82, 82); }
.grisClaro { color: rgb(214, 214, 214); }
.morado { color: rgb(130, 52, 245); }

.RENFE { color: rgb(135, 0, 100); }
.ADIF { color: rgb(0, 99, 56); }
.SERVEO { color: rgb(255, 78, 0); }
.LOGIRAIL { color: rgb(126, 1, 126); }

.bg-rojo { background: rgb(255, 30, 0); }
.bg-rojoBrillante { background: rgb(254, 71, 85); }
.bg-grisMedio { background: rgb(82, 82, 82); }
.bg-grisClaro { background: rgb(214, 214, 214); }
.bg-morado { background: rgb(130, 52, 245); }
.bg-oscuro { background: rgb(47, 47, 47); }
.bg-oscuro-7 { background: rgba(47, 47, 47, .7); }
.bg-blanco-transp { background: rgba(255, 255, 255, .7); }

/* Colores Empresas */
.bg-renfe { background: rgb(135, 0, 100); color: white; }
.badge-renfe { color: rgb(135, 0, 100); border-width: 2px; border-color: rgb(135, 0, 100); letter-spacing: 1px;}
.badge-renfe:hover { background: rgb(135, 0, 100); color: white; cursor: pointer;}
.bg-adif { background: rgb(0, 99, 56); color: white; }
.badge-adif { color: rgb(0, 99, 56); border-width: 2px; border-color: rgb(0, 99, 56); letter-spacing: 1px; }
.badge-adif:hover { background: rgb(0, 99, 56); color: white; cursor: pointer; }
.bg-adif-renfe { color: rgb(0, 99, 56); border-width: 2px; border-color: rgb(0, 99, 56); letter-spacing: 1px; }
.bg-adif-renfe:hover { background:  rgb(0, 99, 56);
      background: linear-gradient(90deg, rgba(0, 99, 56,1) 0%, rgba(135, 0, 100,1) 100%); border: none;
      color: white; cursor: pointer; }
.bg-cgt, .bg-conjunto, .bg-sector, .bg-generales { background: rgb(255, 0, 56); border-color: black; color: black; }
.badge-cgt, .badge-conjunto, .badge-sector, .badge-generales { color: white; background-color: black; border-width: 2px; border-color: rgb(255, 0, 56); letter-spacing: 1px; }
.badge-cgt:hover, .badge-conjunto:hover, .badge-sector:hover, .badge-generales:hover { background: rgb(255, 0, 56); border-color: black; color: black; cursor: pointer; }
.badge-servicios-externos { color: rgb(255, 0, 56); border-width: 2px; border-color: rgb(255, 0, 56); letter-spacing: 1px; }
.badge-servicios-externos:hover { background: rgb(255, 0, 56); border-color: black; color: black; cursor: pointer; }
.badge-saux-atcli { color: rgb(255, 0, 56); border-width: 2px; border-color: rgb(255, 0, 56); letter-spacing: 1px; }
.badge-saux-atcli:hover { background: rgb(255, 0, 56); border-color: black; color: black; cursor: pointer; }
.bg-serveo { background: rgb(255, 78, 0); color: white; }
.badge-serveo { color: rgb(255, 78, 0); border-width: 2px; border-color: rgb(255, 78, 0); letter-spacing: 1px; }
.badge-serveo:hover { background: rgb(255, 78, 0); color: white; cursor: pointer; }
.bg-logirail { background: rgb(126, 1, 126); color: white; }
.badge-logirail { color: rgb(126, 1, 126); border-width: 2px; border-color: rgb(126, 1, 126); letter-spacing: 1px; }
.badge-logirail:hover { background: rgb(126, 1, 126); color: white; cursor: pointer; }
.badge-saba { color: rgb(1, 168, 151); border-width: 2px; border-color: rgb(1, 168, 151); letter-spacing: 1px; }
.badge-saba:hover { background: rgb(1, 168, 151); color: white; cursor: pointer; }
.badge-ferrovial { color: black; border-width: 2px; border-color: rgb(254, 194, 6); letter-spacing: 1px; }
.badge-ferrovial:hover { background: rgb(254, 194, 6); border-color: black; color: white; cursor: pointer; }
.badge-fgv { color: black; border-width: 2px; border-color: rgb(255, 178, 15); letter-spacing: 1px; }
.badge-fgv:hover { background: rgb(255, 178, 15); border-color: black; color: white; cursor: pointer; }
.badge-ilunion { color: rgb(0, 121, 199); border-width: 2px; border-color: rgb(255, 211, 0); letter-spacing: 1px; }
.badge-ilunion:hover { background: rgb(255, 211, 0); border-color: rgb(0, 121, 199);
                    background: linear-gradient(90deg, rgba(255,211,0,1) 0%, rgba(0,121,199,1) 100%);
                    color: white; cursor: pointer; }
.badge-athisa-medio-ambiente { color: rgb(59, 143, 226); border-width: 2px; border-color: rgb(14,156,62); cursor: pointer; letter-spacing: 1px; }           
.badge-athisa-medio-ambiente:hover { background: rgb(14,156,62); border-color: rgb(59, 143, 226); color: white; }
.badge-interserve { color: rgb(0,165,231); border-width: 2px; border-color: rgb(0,165,231); letter-spacing: 1px; }
.badge-interserve:hover { background: rgb(0,165,231); border-color: rgb(78, 78, 78); color: rgb(78, 78, 78); cursor: pointer; }
.badge-acciona { color: rgb(213,0,0); border-width: 2px; border-color: black; letter-spacing: 1px; }
.badge-acciona:hover { background: rgb(213, 0, 0); color: black; border-width: 2px; border-color: white; cursor: pointer; }
.badge-btren {  border-width: 2px; border-color: rgb(135, 1, 114); color: rgb(78, 78, 78); letter-spacing: 1px; }
.badge-btren:hover { background: rgb(135, 1, 114); border-color: rgb(78, 78, 78); color: white; cursor: pointer; }
.badge-euromaclean { color: rgb(83, 164, 187); border-width: 2px; border-color: rgb(83, 164, 187); letter-spacing: 1px; }
.badge-euromaclean:hover { background: rgb(83, 164, 187); border-color: rgb(78, 78, 78); color: white; cursor: pointer; }
.badge-vectalia-rail-sa { color: rgb(155, 194, 38); border-width: 2px; border-color: rgb(155, 194, 38); letter-spacing: 1px; }
.badge-vectalia-rail-sa:hover { background: rgb(155, 194, 38); border-color: rgb(155, 194, 38); color: white; cursor: pointer; }
.badge-clece-limpieza { color: rgb(45, 69, 97); border-width: 2px; border-color: rgb(45, 69, 97); letter-spacing: 1px; }
.badge-clece-limpieza:hover { background: rgb(45, 69, 97); color: white; cursor: pointer; }

.badge-clece-acerca { color: rgb(45, 69, 97); border-width: 2px; border-color: rgb(255, 153, 0); letter-spacing: 1px; }
.badge-clece-acerca:hover { background: rgb( 45, 69, 97) ; color: rgb(255, 153, 0); cursor: pointer; }
.badge-iryo { color: rgb(204, 13, 20); border-width: 2px; border-color: rgb(204, 13, 20); letter-spacing: 1px; }
.badge-iryo:hover { background: rgb(204, 13, 20); color: white; border-color: rgb(204, 13, 20); cursor: pointer; }

.badge-actren { color: rgb(204, 13, 20); border-width: 2px; border-color: rgb(137, 0, 100); letter-spacing: 1px; }
.badge-actren:hover { background: rgb(137, 0, 100); color: white; border-color: rgb(85, 85, 90); cursor: pointer; }
.badge-ouigo { color: rgb(228, 0, 106); border-width: 2px; border-color: rgb(228, 0, 106); letter-spacing: 1px; }
.badge-ouigo:hover { background: rgb(228, 0, 106); color: white; cursor: pointer; }




/* Colores Categorias */
.bg-infraestructura { background: rgb(230, 230, 40); color: black; }
.badge-infraestructura { color: rgb(230, 230, 40); border-width: 2px; border-color: rgb(230, 230, 40); letter-spacing: 1px; }
.badge-infraestructura:hover { background: rgb(230, 230, 40) ; color: black; cursor: pointer; }

.bg-oficinas { background: rgb(150, 150, 200); color: white; }
.badge-oficinas { color: rgb(150, 150, 200); border-width: 2px; border-color: rgb(150, 150, 200); letter-spacing: 1px; }
.badge-oficinas:hover { background: rgb(150, 150, 200) ; color: white; cursor: pointer; }

.bg-circulacion { background: rgb(231, 95, 85); color: white; }
.badge-circulacion { color: rgb(231, 95, 85); border-width: 2px; border-color: rgb(231, 95, 85); letter-spacing: 1px; }
.badge-circulacion:hover { background: rgb(231, 95, 85); color: white; cursor: pointer; }

.bg-estaciones { background: rgb(0, 99, 0); color: white; }
.badge-estaciones { color: rgb(0, 99, 0); border-width: 2px; border-color: rgb(0, 99, 0); letter-spacing: 1px; }
.badge-estaciones:hover { background: rgb(231, 95, 85); color: white; cursor: pointer; }


.bg-talleres { background: rgb(145, 218, 11); color: white; }
.badge-talleres { color: rgb(145, 218, 11); border-width: 2px; border-color: rgb(145, 218, 11); letter-spacing: 1px; }
.badge-talleres:hover { background: rgb(145, 218, 11); color: white; cursor: pointer; }

.bg-conduccion { background: rgb(221, 104, 236); color: white; }
.badge-conduccion { color: rgb(221, 104, 236); border-width: 2px; border-color: rgb(221, 104, 236); letter-spacing: 1px; }
.badge-conduccion:hover { background: rgb(221, 104, 236); color: white; cursor: pointer; }

.bg-intervencion { background: rgb(97, 4, 109); color: white; }
.badge-intervencion { color: rgb(97, 4, 109); border-width: 2px; border-color: rgb(97, 4, 109); letter-spacing: 1px; }
.badge-intervencion:hover { background: rgb(97, 4, 109); color: white; cursor: pointer; }

.bg-comercial { background: rgb(189, 24, 211); color: white; }
.badge-comercial { color: rgb(189, 24, 211); border-width: 2px; border-color: rgb(189, 24, 211); letter-spacing: 1px; }
.badge-comercial:hover { background: rgb(189, 24, 211); color: white; cursor: pointer; }

/* Fin 4.- Colores */

/* Bordes */

.bordeRojo{ border: thin solid rgb(254, 71, 85); }
.bordeTopRojo { border-top: thin solid rgb(254, 71, 85); }
.bordeBottomRojo { border-bottom: thin solid rgb(254, 71, 85); }
.bordeNegro{ border: thin solid rgb(47, 47, 47); }

/* 5.- Sección de INICIO */
.tarjeta{
  width: 100%;
  max-width: 470px;
  height: 100%;
  min-height: 312px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#comunicados{ background:url('/img/tarjetas/comunicados.png'); }
#comunicados:hover{ background:url('/img/tarjetas/comunicados_on.png'); }
#ayudas{ background:url('/img/tarjetas/ayudas.png'); }
#ayudas:hover{ background:url('/img/tarjetas/ayudas_on.png'); }
#afiliate{ background:url('/img/tarjetas/afiliate.png'); }
#afiliate:hover{ background:url('/img/tarjetas/afiliate_on.png'); }
#plataforma{ background:url('/img/tarjetas/plataforma.png'); }
#plataforma:hover{ background:url('/img/tarjetas/plataforma_on.png'); }

/* Fin Sección de INICIO */

/* 6.- Sección de ADIF */
.verDocs{
  vertical-align: middle;
  margin-bottom: 4px;
}
/* 6.- Fin Sección de ADIF */

/* 7.- Sección de RENFE */

.tarjetaRenfe{
  width: 100%;
  max-width: 370px;
  min-height: 246px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.renfe #doc_afiliacion{ background:url('/img/tarjetas/renfe/doc_afiliacion_renfe.png'); }
.adif #doc_afiliacion{ background:url('/img/tarjetas/renfe/doc_afiliacion_adif.png'); }
#doc_afiliacion:hover{ background:url('/img/tarjetas/renfe/doc_afiliacion.png'); }
.renfe #doc_ayudas{ background:url('/img/tarjetas/renfe/doc_ayudas_renfe.png'); }
.adif #doc_ayudas{ background:url('/img/tarjetas/renfe/doc_ayudas_adif.png'); }
#doc_ayudas:hover{ background:url('/img/tarjetas/renfe/doc_ayudas.png'); }
.renfe #doc_igualdad{ background:url('/img/tarjetas/renfe/doc_igualdad_renfe.png'); }
.adif #doc_igualdad{ background:url('/img/tarjetas/renfe/doc_igualdad_adif.png'); }
#doc_igualdad:hover{ background:url('/img/tarjetas/renfe/doc_igualdad.png'); }
.renfe #doc_legislacion{ background:url('/img/tarjetas/renfe/doc_legislacion_renfe.png'); }
.adif #doc_legislacion{ background:url('/img/tarjetas/renfe/doc_legislacion_adif.png'); }
#doc_legislacion:hover{ background:url('/img/tarjetas/renfe/doc_legislacion.png'); }
.renfe #doc_licencias{ background:url('/img/tarjetas/renfe/doc_licencias_renfe.png'); }
.adif #doc_licencias{ background:url('/img/tarjetas/renfe/doc_licencias_adif.png'); }
#doc_licencias:hover{ background:url('/img/tarjetas/renfe/doc_licencias.png'); }
.renfe #doc_mapa{ background:url('/img/tarjetas/renfe/doc_mapa_renfe.png'); }
.adif #doc_mapa{ background:url('/img/tarjetas/renfe/doc_mapa_adif.png'); }
#doc_mapa:hover{ background:url('/img/tarjetas/renfe/doc_mapa.png'); }
.renfe #doc_conciliacion{ background:url('/img/tarjetas/renfe/doc_conciliacion_renfe.png'); }
.adif #doc_conciliacion{ background:url('/img/tarjetas/renfe/doc_conciliacion_adif.png'); }
#doc_conciliacion:hover{ background:url('/img/tarjetas/renfe/doc_conciliacion.png'); }
.renfe #doc_modelos{ background:url('/img/tarjetas/renfe/doc_modelos_renfe.png'); }
.adif #doc_modelos{ background:url('/img/tarjetas/renfe/doc_modelos_adif.png'); }
#doc_modelos:hover{ background:url('/img/tarjetas/renfe/doc_modelos.png'); }
.renfe #doc_protocolos{ background:url('/img/tarjetas/renfe/doc_protocolos_renfe.png'); }
.adif #doc_protocolos{ background:url('/img/tarjetas/renfe/doc_protocolos_adif.png'); }
#doc_protocolos:hover{ background:url('/img/tarjetas/renfe/doc_protocolos.png'); }
.renfe #doc_salud{ background:url('/img/tarjetas/renfe/doc_salud_renfe.png'); }
.adif #doc_salud{ background:url('/img/tarjetas/renfe/doc_salud_adif.png'); }
#doc_salud:hover{ background:url('/img/tarjetas/renfe/doc_salud.png'); }
.renfe #doc_teletrabajo{ background:url('/img/tarjetas/renfe/doc_teletrabajo_renfe.png'); }
.adif #doc_teletrabajo{ background:url('/img/tarjetas/renfe/doc_teletrabajo_adif.png'); }
#doc_teletrabajo:hover{ background:url('/img/tarjetas/renfe/doc_teletrabajo.png'); }
.renfe #doc_tablas{ background:url('/img/tarjetas/renfe/doc_tablas_renfe.png'); }
.adif #doc_tablas{ background:url('/img/tarjetas/renfe/doc_tablas_adif.png'); }
#doc_tablas:hover{ background:url('/img/tarjetas/renfe/doc_tablas.png'); }

/* Fin 7.- Sección de RENFE */

.dataTables_length select {
  padding-right: 25px !important;
}

/* Tablas Responsive */
.resp-table {
  width: 100%;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
}
.resp-table-caption{
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.table-header-cell{
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}
.resp-table-header{
  display: table-header-group;
  background-color: rgb(82,10,0);
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 1px solid black;
}
.resp-table-footer a{
  color:  white;
}
.resp-table-footer a:hover{
  color:  cornsilk;
}
.resp-table-body{
  display: table-row-group;
}
.resp-table-row{
  display: table-row;
  border: 1px solid black;
}
.table-body-cell{
  display: table-cell;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33.3%;
  vertical-align: middle;
  border-bottom: 1px solid white;
}
.resp-table-footer {
  display: table-footer-group;
  background-color: rgb(82,10,0);
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 1px solid black;
}
.table-footer-cell{
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}
/* Fin Tablas Responsive */

/* 11.- Formularios */
input {
  color-scheme: dark;
}
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.comunicados label{
  margin-left: 12px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
input [type='checkbox']:checked, [type='radio']:checked {
  background-color: green;
}
#checkboxes {
  display: none;
  z-index: 3;
}
#checkboxes label {
  display: block;
}
#checkboxes label input{
  margin-right: 8px;
}
#checkboxes label:hover {
  background-color: rgb(239,68,68);
}