html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/*  <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 400 to 900 */

/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.hidden {
    display: none;
}

.bg-image {
    background-image: url("../img/test.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative;
}


.relative-button {
    position: absolute;
    top: 68%;
    /* Adjust these values to position the button */
    left: 85%;
    transform: translate(-50%, -50%);
    /* Center the button */
}

.quiz-container {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.quiz-footer {
    display: flex;
    justify-content: center;
}

.result-container {
    position: absolute;
    border-radius: 25px;
    border: solid;
    padding: 10px;
    width: 600px;
    background-color: white;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.titular{
    font-family: 'Edo', sans-serif;
    font-size: 3.5rem !important;
}
.boton{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    color: white;
    text-decoration: none;
}
.riesgo-alto{
    color: rgba(203,54,68,1) !important;
}
.bg-riesgo-alto{
    background: rgba(203,54,68,1) !important;
}
.riesgo-medio{
    color: rgba(223,128,45,1) !important;
}
.bg-riesgo-medio{
    background: rgba(223,128,45,1) !important;
}
.riesgo-bajo{
    color: rgba(218,160,44,1) !important;
}
.bg-riesgo-bajo{
    background: rgba(218,160,44,1) !important;
}
.riesgo-cero{
    color: rgba(126,161,33,1) !important;
}
.bg-riesgo-cero{
    background: rgba(126,161,33,1) !important;
}
@media (max-width: 768px) {
    .quiz-container {
        width: 90%;
        left: 50%;
    }
}