html{
    height: 100%;
}
body{
    height: 100%;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.textoLogo{
    font-family: 'Brannboll Connect PERSONAL USE', sans-serif;
    color: white;
    font-size: large;
    font-size: xxx-large;
    vertical-align: text-top;
}